# Compiled class file
*.class
*.bat
gradlew

# Log file
*.iml

#Ignore IntelliJ folders
/.settings
/build
/web/build/
/service/build/
/model/build/libs/
/gradle
/.gradle
/.classpath
/.project
/.idea
/out




